<h2>Forgot Password</h2>
<hr />
<form asp-action="ForgotPassword" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    
    <button class="btn btn-primary mt-3">Save</button>
</form>
